In [10]:
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
df = pd.read_csv("apps.csv")
df.head()

,App,Category,Rating,Reviews,Size_MBs,Installs,Type,Price,Content_Rating,Genres,Last_Updated,Android_Ver
0,Ak Parti Yardım Toplama,SOCIAL,NaN,0,8.7,0,Paid,$13.99,Teen,Social,"July 28, 2017",4.1 and up
1,Ain Arabic Kids Alif Ba ta,FAMILY,NaN,0,33.0,0,Paid,$2.99,Everyone,Education,"April 15, 2016",3.0 and up
2,Popsicle Launcher for Android P 9.0 launcher,PERSONALIZATION,NaN,0,5.5,0,Paid,$1.49,Everyone,Personalization,"July 11, 2018",4.2 and up
3,Command & Conquer: Rivals,FAMILY,NaN,0,19.0,0,NaN,0,Everyone 10+,Strategy,"June 28, 2018",Varies with device
4,CX Network,BUSINESS,NaN,0,10.0,0,Free,0,Everyone,Business,"August 6, 2018",4.1 and up

In [12]:
df.shape, df.columns

((10841, 12),
 Index(['App', 'Category', 'Rating', 'Reviews', 'Size_MBs', 'Installs', 'Type',
        'Price', 'Content_Rating', 'Genres', 'Last_Updated', 'Android_Ver'],
       dtype='object'))

In [13]:
df.sample(5)

,App,Category,Rating,Reviews,Size_MBs,Installs,Type,Price,Content_Rating,Genres,Last_Updated,Android_Ver
9938,Pineapple Pen,GAME,4.3,157264,65.0,"10,000,000",Free,0,Everyone,Arcade,"December 30, 2016",4.0.3 and up
9604,MadLipz,FAMILY,4.6,171017,13.0,"10,000,000",Free,0,Teen,Entertainment,"July 22, 2018",4.4 and up
6078,Navmii GPS USA (Navfree),TRAVEL_AND_LOCAL,4.0,5960,12.0,"500,000",Free,0,Everyone,Travel & Local,"May 23, 2018",Varies with device
10313,File Commander - File Manager/Explorer,BUSINESS,4.3,758590,12.0,"100,000,000",Free,0,Everyone,Business,"August 2, 2018",4.1 and up
10746,"Security Master - Antivirus, VPN, AppLock, Boo...",TOOLS,4.7,24900999,3.4,"500,000,000",Free,0,Everyone,Tools,"August 4, 2018",Varies with device

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  int64
 4   Size_MBs        10841 non-null  float64
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content_Rating  10841 non-null  object
 9   Genres          10841 non-null  object
 10  Last_Updated    10841 non-null  object
 11  Android_Ver     10839 non-null  object
dtypes: float64(2), int64(1), object(9)
memory usage: 1016.5+ KB

In [15]:
df.groupby("Genres").count()

,App,Category,Rating,Reviews,Size_MBs,Installs,Type,Price,Content_Rating,Last_Updated,Android_Ver
Genres,,,,,,,,,,,
Action,365,365,358,365,365,365,365,365,365,365,365
Action;Action & Adventure,17,17,17,17,17,17,17,17,17,17,17
Adventure,75,75,73,75,75,75,75,75,75,75,75
Adventure;Action & Adventure,13,13,13,13,13,13,13,13,13,13,13
Adventure;Brain Games,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
Video Players & Editors,173,173,158,173,173,173,173,173,173,173,173
Video Players & Editors;Creativity,2,2,2,2,2,2,2,2,2,2,2
Video Players & Editors;Music & Video,3,3,3,3,3,3,3,3,3,3,3
Weather,82,82,75,82,82,82,82,82,82,82,82
Word,29,29,28,29,29,29,29,29,29,29,29

In [16]:
df = df.drop(["Last_Updated", "Android_Ver"], axis=1)
df.head()

,App,Category,Rating,Reviews,Size_MBs,Installs,Type,Price,Content_Rating,Genres
0,Ak Parti Yardım Toplama,SOCIAL,NaN,0,8.7,0,Paid,$13.99,Teen,Social
1,Ain Arabic Kids Alif Ba ta,FAMILY,NaN,0,33.0,0,Paid,$2.99,Everyone,Education
2,Popsicle Launcher for Android P 9.0 launcher,PERSONALIZATION,NaN,0,5.5,0,Paid,$1.49,Everyone,Personalization
3,Command & Conquer: Rivals,FAMILY,NaN,0,19.0,0,NaN,0,Everyone 10+,Strategy
4,CX Network,BUSINESS,NaN,0,10.0,0,Free,0,Everyone,Business

In [17]:
df["Rating"].isna().value_counts()

Rating
False    9367
True     1474
Name: count, dtype: int64

In [21]:
df = df.dropna()
df.Rating.isna().value_counts()

Rating
False    9367
Name: count, dtype: int64

In [35]:
duplicated_rows = df[df.duplicated()]
print(duplicated_rows.shape)
duplicated_rows.head()

(476, 10)

,App,Category,Rating,Reviews,Size_MBs,Installs,Type,Price,Content_Rating,Genres
946,420 BZ Budeze Delivery,MEDICAL,5.0,2,11.0,100,Free,0,Mature 17+,Medical
1133,MouseMingle,DATING,2.7,3,3.9,100,Free,0,Mature 17+,Dating
1196,"Cardiac diagnosis (heart rate, arrhythmia)",MEDICAL,4.4,8,6.5,100,Paid,$12.99,Everyone,Medical
1231,Sway Medical,MEDICAL,5.0,3,22.0,100,Free,0,Everyone,Medical
1247,Chat Kids - Chat Room For Kids,DATING,4.7,6,4.9,100,Free,0,Mature 17+,Dating

In [36]:
df[df.App == "Instagram"]

,App,Category,Rating,Reviews,Size_MBs,Installs,Type,Price,Content_Rating,Genres
10806,Instagram,SOCIAL,4.5,66577313,5.3,"1,000,000,000",Free,0,Teen,Social
10808,Instagram,SOCIAL,4.5,66577446,5.3,"1,000,000,000",Free,0,Teen,Social
10809,Instagram,SOCIAL,4.5,66577313,5.3,"1,000,000,000",Free,0,Teen,Social
10810,Instagram,SOCIAL,4.5,66509917,5.3,"1,000,000,000",Free,0,Teen,Social

In [37]:
df = df.drop_duplicates()

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8891 entries, 21 to 10840
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             8891 non-null   object
 1   Category        8891 non-null   object
 2   Rating          8891 non-null   float64
 3   Reviews         8891 non-null   int64
 4   Size_MBs        8891 non-null   float64
 5   Installs        8891 non-null   object
 6   Type            8891 non-null   object
 7   Price           8891 non-null   object
 8   Content_Rating  8891 non-null   object
 9   Genres          8891 non-null   object
dtypes: float64(2), int64(1), object(7)
memory usage: 764.1+ KB

In [39]:
df[df.App == "Instagram"]

,App,Category,Rating,Reviews,Size_MBs,Installs,Type,Price,Content_Rating,Genres
10806,Instagram,SOCIAL,4.5,66577313,5.3,"1,000,000,000",Free,0,Teen,Social
10808,Instagram,SOCIAL,4.5,66577446,5.3,"1,000,000,000",Free,0,Teen,Social
10810,Instagram,SOCIAL,4.5,66509917,5.3,"1,000,000,000",Free,0,Teen,Social

In [40]:
df = df.drop_duplicates(subset=["App", "Type", "Price"])
df[df.App == "Instagram"]

,App,Category,Rating,Reviews,Size_MBs,Installs,Type,Price,Content_Rating,Genres
10806,Instagram,SOCIAL,4.5,66577313,5.3,"1,000,000,000",Free,0,Teen,Social