In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv("apps.csv")
df.head()

,App,Category,Rating,Reviews,Size_MBs,Installs,Type,Price,Content_Rating,Genres,Last_Updated,Android_Ver
0,Ak Parti Yardım Toplama,SOCIAL,NaN,0,8.7,0,Paid,$13.99,Teen,Social,"July 28, 2017",4.1 and up
1,Ain Arabic Kids Alif Ba ta,FAMILY,NaN,0,33.0,0,Paid,$2.99,Everyone,Education,"April 15, 2016",3.0 and up
2,Popsicle Launcher for Android P 9.0 launcher,PERSONALIZATION,NaN,0,5.5,0,Paid,$1.49,Everyone,Personalization,"July 11, 2018",4.2 and up
3,Command & Conquer: Rivals,FAMILY,NaN,0,19.0,0,NaN,0,Everyone 10+,Strategy,"June 28, 2018",Varies with device
4,CX Network,BUSINESS,NaN,0,10.0,0,Free,0,Everyone,Business,"August 6, 2018",4.1 and up

In [7]:
df.shape, df.columns

((10841, 12),
 Index(['App', 'Category', 'Rating', 'Reviews', 'Size_MBs', 'Installs', 'Type',
        'Price', 'Content_Rating', 'Genres', 'Last_Updated', 'Android_Ver'],
       dtype='object'))

In [8]:
df.sample(5)

,App,Category,Rating,Reviews,Size_MBs,Installs,Type,Price,Content_Rating,Genres,Last_Updated,Android_Ver
8630,Wheelie Challenge,GAME,4.6,137338,51.0,"5,000,000",Free,0,Everyone,Racing,"July 13, 2018",4.1 and up
3271,First Hawaiian Bank Mobile,FINANCE,2.1,232,29.0,"10,000",Free,0,Everyone,Finance,"May 9, 2018",5.0 and up
9004,Target - now with Cartwheel,SHOPPING,4.1,68406,24.0,"10,000,000",Free,0,Everyone,Shopping,"July 25, 2018",5.0 and up
484,INTERACTIVE CALCULUS PRO,FAMILY,NaN,0,3.3,10,Paid,$0.99,Everyone,Education,"February 22, 2018",4.0.3 and up
9967,Guns of Boom - Online Shooter,GAME,4.6,1226514,99.0,"10,000,000",Free,0,Teen,Action,"July 20, 2018",4.1 and up

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  int64
 4   Size_MBs        10841 non-null  float64
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content_Rating  10841 non-null  object
 9   Genres          10841 non-null  object
 10  Last_Updated    10841 non-null  object
 11  Android_Ver     10839 non-null  object
dtypes: float64(2), int64(1), object(9)
memory usage: 1016.5+ KB

In [15]:
df.groupby("Genres").count()

,App,Category,Rating,Reviews,Size_MBs,Installs,Type,Price,Content_Rating,Last_Updated,Android_Ver
Genres,,,,,,,,,,,
Action,365,365,358,365,365,365,365,365,365,365,365
Action;Action & Adventure,17,17,17,17,17,17,17,17,17,17,17
Adventure,75,75,73,75,75,75,75,75,75,75,75
Adventure;Action & Adventure,13,13,13,13,13,13,13,13,13,13,13
Adventure;Brain Games,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
Video Players & Editors,173,173,158,173,173,173,173,173,173,173,173
Video Players & Editors;Creativity,2,2,2,2,2,2,2,2,2,2,2
Video Players & Editors;Music & Video,3,3,3,3,3,3,3,3,3,3,3
Weather,82,82,75,82,82,82,82,82,82,82,82
Word,29,29,28,29,29,29,29,29,29,29,29